.Proyectos{
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 8vh;
    margin-bottom: 100px;
}

.Proyectos h2{
    text-align: start;
    margin-bottom: 30px;
    color: #63707E;
}
.cards {
    display: flex;
    justify-content: start;
    text-align: center;
    flex-wrap: wrap;
    gap: 40px;
}

.description{
    width: 290px;
    color: #63707E;
    text-align: left;
}

.cards .card1 {
    width: 300px;
    height: auto;
    border: 2px solid #2d41563d;
    border-radius: 12px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cards .card1:hover{
    border: 4px solid #2FDF84;
    transition:  0.3s ease, color 0.3s ease;
    translate: 0 -10px;

}
.cards .card1 img {
    border: 1px solid #2d41563d; 
    border-radius: 12px 12px 0 0;
}

.cards .card1 {
    text-align: center;
}

.cards .card1 h3 {
    color: #2FDF84;
}

.cards .card1 p {
    padding: 0 10px;
}



.cards.card1 .technology{
    padding: 0 10px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cards.card1 .Github {
    display: flex;
    justify-content: center;
    align-items: center;
}